body{
    background-image:url(pexels-eslames1-32542470.jpg);
    background-position:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}
#clockcontaner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
#clock{
    font-family: monospace;
    text-align: center;
    font-size: 6.5rem;
    border-radius:40px;
   margin-bottom:50px;
   margin: 10px;
   color:white;
   backdrop-filter: blur(5px);
}
