#myh3{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#didd{
    text-align: center;
    
}
.button{
    color:white;
    background-color: rgb(143, 143, 235);
    padding:10px;
    margin:5px;
    cursor:pointer;
    border-radius: 5px;
    transition: background-color 0.25s;
}
.button:hover{
    background-color: rgb(104, 40, 163);
}