body{
    margin :0;
    display:flex ;
    align-items: center;
    flex-direction: column;
}
#mybutton button{
    padding: 10px;
    margin-left:10px ;
    margin-right:10px ;
    font-size: 7.5rem;
}
p{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
}
button{
    background-color: rgb(87, 87, 214);

}
button:hover{
    background-color: blue;
}