body{
    background-color:white;
}
form{
    background-color:hsl(0,0%,95%);
    text-align: center;
    max-width: 350px;
    margin:auto;
    padding:10px;
    border-radius: 10px;
    box-shadow: 5px,5px,15px,black;
    
}
#textarea{
    text-align: center;
    font-size: 1.2em;
    border-radius:40px;
   margin-bottom:20px;
   margin: 10px;
}
label{
    font-weight: bold ;
    font-size: 1.2em;

}
button{
    background-color: red;
}
