body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

#taskInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#taskList {
    list-style: none;
    padding: 0;
}
#taskList li {
    background: #e9e9e9;
    padding: 12px 8px 12px 40px; 
    margin-bottom: 8px;
    border-radius: 4px;
    position: relative; 
    cursor: pointer;
    user-select: none; 
}
#taskList li.checked {
    color: #555;
    text-decoration: line-through;
    background-color: #f1f1f1;
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    
    color: #f44336;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    line-height: 20px;
    transition: 0.2s;
}

.close:hover {
    background-color: #c9847f;
    color: white;
}